<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Você tem </ion-label>
    <ion-badge color="success" slot="end">10 pontos</ion-badge>
  </ion-item>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item href="/tela01">Tela01</ion-item>
      </ion-col>

      <ion-col>
        <ion-item href="/tela02">Tela02</ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-row>
    <ion-col>
      <ion-item href="/tela03">Tela03</ion-item>
    </ion-col>

    <ion-col>

    </ion-col>
  </ion-row>
</ion-content>